#button-whatsapp {
  width: 60px;
  height: 60px;
  background: #67d267;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  font-size: 35px;
  position: fixed;
  bottom: 120px;
  right: 30px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
  transform: scale(0);
  z-index: 1000;
}

#button-whatsapp:hover {
  transform: scale(1.1);
  border-color: rgba(0, 0, 0, 0.1);
}